.bg {
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('../../assets//images/building.png');
    transition: all 3;
}
