.bg-down {
    width: 100%;
    min-height: 34vh;
    background-color: #ffe8cd;
    padding: 3% 0;

    .bg-down-inner {
        max-width: 1100px;
        min-height: 34vh;
        margin: 0 auto;
        padding: 2%;
        display: grid;
        grid-template-columns: 50%;

        h5 {
            color: black;
            font-family: 'Arial';
            font-weight: bold;
            font-size: 16px;
            margin-top: 10px;

            &:nth-child(2) {
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .bg-down {
    
        .bg-down-inner {
            padding: 5%;
    
            h5 {
    
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .bg-down {
    
        .bg-down-inner {
            grid-template-columns: 1fr;
    
            h5 {
    
            }
        }
    }
}